.chat-list-item{
    background: white;
    cursor: pointer;
    padding: 8px 4px;
    border-bottom: 1px solid #dee2e6!important;
}
.chat-list-item:hover{
    background: hsl(0, 0%, 88%);
}
.profilePic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
}
.chat-name{
    font-weight: 500;
    font-size: 13;
}
.chat-msg{
    font-size: 11px;
}
.chat-time{
    font-size: 12px;
}