#navbar{
    background: #121e56;
    height: 60px;
    line-height:60px;
}
.profilePic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    margin-left: 5px;
}
.user-name{
    font-weight: 700;
    color: white;
}